{% extends "layout.html" %}

{% block content %}

  <div class="page-header">
    <h1>Welcome to Twitter.js, Pablo!</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="#"><br>
      <b>Pablo de la Cruz</b><br>
      100 followers
    </div>
    <div class="col-md-9">

      {% if showForm %}
        <form action="/tweets" method="POST">
          <label for="name_field">Name:</label>
          <input name="name" type="text" id="name_field" />

          <label for="text_field">Text:</label>
          <input name="text" type="text" id="text_field" style="width: 350px;" />

          <input type="submit" value="Submit" />
        </form>
      {% endif %}

      <!-- display tweets here -->
      <h1>All Tweets!</h1>
      {% for tweet in tweets %}
        <ul>
<!--         <li>{{tweet.name}}</li> -->
<!--         <li>{{tweet.content}}</li> -->
        <li><a href="/users/{{tweet.name}}">{{tweet.name}}</a>
        <br>{{tweet.content}}<br>
        </li>
        </ul>
      {% endfor %}


    </div>
  </div>

{% endblock %}

